<style>
  .nav-link {
  color: white;
}

.nav-link.active {
  color: #81c408 !important;
}

</style>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Fruitables</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= currentRoute === '/product' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= currentRoute === '/product/shop' ? 'active' : '' %>" href="/product/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= currentRoute === '/product/new' ? 'active' : '' %>" href="/product/new">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= currentRoute === '/product/contact' ? 'active' : '' %>" href="/product/contact">Contact Us</a>
        </li>
      </ul>

      <form class="d-flex search-bar my-2 my-lg-0" role="search" action="/product/search">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <i class="search fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="icons ms-3">
        <div class="cart position-relative">
          <a href="/cart" style="text-decoration: none; position: relative;">
            <i class="fa-solid fa-cart-shopping"></i>
            <% if (cartCount && cartCount > 0) { %>
              <span><%= cartCount %></span>
            <% } %>
          </a>
        </div>

        <% if (!curUser) { %>
          <div class="cart"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
        <% } else { %>
          <div class="cart"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<!-- <script>
const navLinks = document.querySelectorAll('.nav-link');

navLinks.forEach(link => {
  link.addEventListener('click', function() {
    navLinks.forEach(l => l.classList.remove('active'));
    this.classList.add('active');
  });
});
</script> -->


