<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      method="post"
      action="/product/<%= product._id%>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Enter name</label>
        <input
          name="product[name]"
          value="<%= product.name%>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Name Looks Good</div>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Enter Category</label>
        <input
          name="product[category]"
          value="<%= product.category %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter correct category</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter description</label>
        <textarea name="product[description]" class="form-control" required>
<%= product.description%></textarea
        >
        <div class="invalid-feedback">Please enter short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Enter URL</label>
        <input
          name="product[image][url]"
          value="<%= product.image.url%>"
          type="url"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Enter price</label>
        <input
          name="product[price]"
          value="<%=product.price%>"
          type="number"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter a Valid Price</div>
      </div>

      <button
        class="btn btn-dark add-btn mb-3"
        style="background-color: #fe424d !important; border: none !important"
      >
        Edit
      </button>
    </form>
  </div>
</div>
