<% layout("layouts/boilerplate") %>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
      <form
        method="post"
        action="/product/<%= product._id%>?_method=PUT"
        enctype="multipart/form-data"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Enter name</label>
          <input
            name="product[name]"
            value="<%= product.name%>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Name Looks Good</div>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Enter Category</label>
          <input
            name="product[category]"
            value="<%= product.category %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter correct category</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Enter description</label>
          <textarea
            name="product[description]"
            class="form-control"
            minlength="60"
            maxlength="79"
            required
          ><%= product.description %></textarea>
          <div class="invalid-feedback">Please enter short description</div>
        </div>

        <div class="mb-3">
          <label for="isFresh" class="form-label">IsFresh</label>
          <input
            name="product[isFresh]"
            value="<%= product.isFresh %>"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
  <label>Current Product Image</label>
  <hr />
  <img src="<%= product.image.url %>" alt="Product Image" class="img-fluid" style="max-width: 200px;" />
</div>

<div class="mb-3">
  <label for="image" class="form-label">Upload New Product Image</label>
  <input name="image" type="file" class="form-control" />
</div>


        <div class="mb-3">
          <label for="price" class="form-label">Enter price</label>
          <input
            name="product[price]"
            value="<%= product.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter a Valid Price</div>
        </div>

        <button
          class="btn btn-dark add-btn mb-3"
          style="background-color: #fe424d !important; border: none !important"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
</div>
